{% extends 'stock/layout/layout.html' %}


{% block content %}
{% load static %}
{% if message %}
<div class="row">
  <div class="col-12 alert alert-warning ">
    <h3 class="text-center text-dark">{{message}}</h3>
  </div>
</div>
{% endif %}


{% if forms %}
        <div class="row mt-3 mb-2">
            <div class="col-3 col-md-2">
                <h6 class="text-right btn w-100">Name</h6>
            </div>
            <div class="col-2">
                <h4 class="btn text-right w-100">start</h4>
            </div>
            <div class="col-2">
                <h4 class="text-right btn w-100">end</h4>
            </div>
            <div class="col-2">
              <button class="btn btn-outline-secondary w-100 " id='enableButton'
              onclick="enableButton(this)" value='0'>Sale Disalbe</button>
            </div>
            <div class="col-1">
              <button type="button" name="button">detail</button>

            </div>
        </div>
    {% for form in forms %}
        <div class="row border p-1">
              <div class="col-3 col-md-2">
                <h6 class="text-right">{{form.name}}</h6>
              </div>
              <div class="col-2">
                  <h6 class="text-right" id="first_{{forloop.counter}}">{{form.first}}</h6>
              </div>
              <div class="col-2">
                  <h6 class="text-right" id="now_{{forloop.counter}}">{{form.now}}</h6>
              </div>
              <div class="col-2">
                  <button class="btn w-100 acbtn" name="{{form.name}}" id="{{forloop.counter}}">{{form.sale}}</button>
              </div>
              <div class="col-1">
                <button type="button" onclick="javascript:document.getElementById('exampleModalLabel').innerHTML='{{form.name}}'" data-target='#detail' data-toggle="modal" id="detail_{{forloop.counter}}">detail</button>

              </div>
        </div>
    {% endfor %}
{% endif %}
<div class="modal fade" id='detail'>
  <div class="modal-dialog" role="document">
    <div class="modal-content">
        <div class="modal-header">
<h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
<button type="button" class="close" data-dismiss="modal" aria-label="Close">
  <span aria-hidden="true">&times;</span>
</button>
</div>
<div class="modal-body">
...
</div>
<div class="modal-footer">
<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
<button type="button" class="btn btn-primary">Save changes</button>
</div>
</div>
</div>
</div>
{% endblock content %}
{% block script %}
{% include 'stock/store/sale/app.html' %}
{% endblock script %}
