{% extends 'stock/layout/layout.html' %}


{% block content %}
{% load tz %}
<form action="" method="post">
  {% csrf_token %}
  <div class="row">
  <div class="col-3 col-lg-2">
    <select class="custom-select" name="worker">
      {% for worker in workers %}
        <option value="{{worker.id}}">{{worker.username}}</option>
      {% endfor %}
    </select>
  </div>
    <div class="col-auto">
    {{form.as_p}}  </div>
    <div class="col-2 col-md-2 ml-auto">
      <button class="btn btn-primary" type="submit" name="button">List</button>
    </div>
  </div>
</form>

{% if message %}
<div class="row">
  <div class="col-12 alert alert-warning ">
    <h3 class="text-center text-dark">{{message}}</h3>
  </div>
</div>
{% endif %}


{% if sales %}
    {% for sale in sales %}
        <div class="row">
              <div class="col-12 border">
                {{sale.item.name}}-{{sale.volume}}-{{sale.create_time}}
              </div>
        </div>
    {% endfor %}
{% endif %}
{% endblock content %}
{% block script %}
<script type="text/javascript">
</script>
{% endblock script%}
