{% load static %}
<!-- worker -->


<div class="navbar navbar-expand-md navbar-dark bg-dark">
    <div class="container">
        <button class="navbar-toggle bg-dark" type="button" data-toggle="collapse"
        data-target="#navbarCollapseLinks" ><span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarCollapseLinks">

            <ul class="navbar-nav w-100">
              <li class="nav-item" >
                <a class="nav-link" href="{% url 'stock:index_store' request.session.url %}">Home</a>
              </li>
              <li class="nav-item dropdown" >
                <a class="nav-link dropdown-toggle" href="#" role="button" data-toggle="dropdown" id="StockDrowdownMenuLink">Stock</a>
                    <div class="dropdown-menu" aria-labelledby="StockDrowdownMenuLink">
                        <a class="dropdown-item" href="{% url 'stock:sum_stock' request.session.url %}">Stock</a>
                        <a class="dropdown-item" href="{% url 'stock:topup_item' request.session.url %}">Topup</a>
                        <a class="dropdown-item" href="#">List</a>
                    </div>
              </li>
              <li class="nav-item dropdown">
                  <a class="nav-link dropdown-toggle" href="#" role="button" data-toggle="dropdown" id="StatementDropdownMenuLink">Statement</a>
                  <div class="dropdown-menu" aria-labelledby="StatementDropdownMenuLink">
                    <a class="dropdown-item" href="{% url 'stock:create_statement' request.session.url 'income' %}">Crete Income</a>
                    <a class="dropdown-item" href="{% url 'stock:create_statement' request.session.url 'expense' %}">Crete Expense</a>
                    <a class="dropdown-item" href="{% url 'stock:list_statement' request.session.url 'income' %}">List Income</a>
                    <a class="dropdown-item" href="{% url 'stock:list_statement' request.session.url 'expense' %}">List Expense</a>

                  </div>
              </li>
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  Sale
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                  <a class="dropdown-item" href="{% url 'stock:index_sale'  request.session.url %}">summary</a>
                  <a class="dropdown-item" href="{% url 'stock:list_sale' request.session.url %}">list</a>

                </div>
              </li>
              <li class="nav-item" >
                <a class="nav-link" href="{% url 'stock:logout_worker' request.session.url %}">Logout</a>
               </li>
               <li class="nav-item ml-5  w-50">
                 <div class="row collapse" id="adminpwd">
                   <form id="adminform" class=" from-group input-group" action="{% url 'stock:login_user' %}" method="post">
                     {% csrf_token %}
                      <input type="hidden" name="email" value="{{request.session.email}}">
                      <input class="form-control" type="password" name="password" value=""
                      placeholder="password">
                      <p type="submit" class="btn btn-primary" onclick="javascript:document.forms['adminform'].submit()">Login</p>
                      <p class="btn btn-secondary" onclick="javascript:document.getElementById('adminpwd').style.display='none';
                        document.getElementById('activatebtn').style.display='block'">Cancel</p>
                    </form>
                      </div>
               </li>
        </div>
          <a class="btn btn-secondary" id="activatebtn" onclick="javascript:this.style.display='none';
          document.getElementById('adminpwd').style.display='block'"> Activate </a>


        </div>
        </div>
