.clear{
  clear: both;
}
body{
  background-color: #ddd;
}
header{

}
header ul{

}
header li{
  list-style: none;
  float: left;
  font-size: 25px;
  padding: 10px 10px;
  line-height: 5px;
  cursor: pointer;
}
header li:hover{
  font-size: 35px;
}
#container{
  margin: auto;
  width: 90%;
  background-color: #ccc;
  margin-top: 50px;
}

.form{
  text-align: center;
  font-size: 17px;
  padding: 10px 10px;
}
.form input{
  background-color: #ddd;
  font-size: 17px;
  padding: 10px 10px;
  width: 300px;
}
.form label{
  padding-right: 30px;
  text-align: right;
  width: 200px;
  display: inline-block;
}
.form button{
  text-align: center;
  font-size: 25px;
  padding: 10px 10px;
  color: inherit;
}
.form button:hover{
  font-size: 30px;
  cursor: pointer;

}
