{% extends 'stock/layout/layout.html' %}
{% block content %}
<div class="row">
  <div class="col-12 text-center alert alert-primary mt-2">
      Create worker for {{request.user}}
  </div>
</div>
{% if message %}
<div class="row">
  <div class="col-12 text-center alert alert-warning mt-1">
    {{message}}
  </div>
{% endif %}
</div>
<form class="" action="" method="post">
  {% csrf_token %}
  {% for field in form %}
    <div class="form-group mt-3">
      <div class="row  text-center">
        <div class="col-12 col-md-2">
            {{ field.label_tag }}
        </div>
        <div class="col-12 col-md-7">
            {{ field }}
        </div>
      </div>
      <div class="row  text-center">
        <div class="col-12">
                {{ field.errors }}
        </div>
          <div class="col-12">
                  {% if field.help_text %}
                  <p class="help">{{ field.help_text|safe }}</p>
                  {% endif %}
          </div>
      </div>
    </div>
{% endfor %}

<div class="row">
  <div class="col-12 col-md-2">
  </div>
  <div class="row-12 col-md-3">
    <button class="btn btn-primary" type="submit" name="button">create</button>

  </div>

</div>

</form>

{% endblock content %}
