{% extends 'stock/layout/layout.html' %}
{% block content %}

<div class="alert alert-warning">

{%for field in form %}
{{forloop.counter }}{{field.errors}}--{% endfor %}

  <p>  {{form.errors.as_text}}</p>
</div>
<form class="" action="" method="post">
  {% csrf_token %}
  <div class="form-group row">
    <label for="username" class="col-sm-2 col-form-label">username</label>
    <div class="col-sm-10">
      {% for field in form %}
        {% ifequal forloop.counter 1 %}
            {% if field.errors %}
            <input type="text" class="form-control is-invalid" name="username">
            <div class="invalid-feedback">
              {{ field.errors.as_text }}
            </div>
            {% else %}
            <input type="text" class="form-control" name="username">
            {% endif %}
        {% endifequal %}
      {% endfor %}
    </div>
  </div>
  <div class="form-group row">
    <label for="password" class="col-sm-2 col-form-label">Password</label>
    <div class="col-sm-10">
      {% for field in form %}
        {% ifequal forloop.counter 2 %}
            {% if field.errors %}
            <input type="password" class="form-control is-invalid" name="password">
            <div class="invalid-feedback">
              {{ field.errors.as_text }}
            </div>
            {% else %}
            <input type="password" class="form-control" name="password">
            {% endif %}
        {% endifequal %}
      {% endfor %}
    </div>
  </div>
  <div class="form-group row">
    <label for="confirm_password" class="col-sm-2 col-form-label">Confirm Password</label>
    <div class="col-sm-10">
      {% for field in form %}
        {% ifequal forloop.counter 3 %}
            {% if field.errors %}
            <input type="password" class="form-control is-invalid" name="confirm_password">
            <div class="invalid-feedback">
              {{ field.errors.as_text }}
            </div>
            {% else %}
            <input type="password" class="form-control" name="confirm_password">
            {% endif %}
        {% endifequal %}
      {% endfor %}
    </div>
  </div>


  <button type="submit" name="button">create</button>

</form>

{% endblock content %}
