{% extends 'stock/layout/layout.html' %}

{% block content %}
{% load static %}
<div id="container">

      {% if user.is_authenticated %}
      <h1>list of worker</h1>
          {% if workers %}
  <div class="row mb-5 border border-secondary">
        <div class="col-12 col-md-3">
            username
        </div>
        <div class="col-12 col-md-3">
          supervisor
        </div>
        <div class="col-12 col-md-3">
          access_level
        </div>
        <div class="col-12 col-md-3">
          edit
        </div>

  </div>
                {% for worker in workers %}
                <div class="row border border-secondary">
                      <div class="col-12 col-md-3">
                          {{worker.username}}
                      </div>
                      <div class="col-12 col-md-3">
                        {{worker.supervisor}}
                      </div>
                      <div class="col-12 col-md-3">
                          {% ifequal worker.access_level 1 %}
                            admin
                          {% endifequal %}
                          {% ifequal worker.access_level 10 %}
                            super worker
                          {% endifequal %}
                          {% ifequal worker.access_level 99 %}
                            worker
                          {% endifequal %}</p>
                      </div>
                      <div class="col-12 col-md-3">
                          <a class="btn btn-success" href="{% url 'stock:edit_worker' request.user.url worker.id %}">edit</a>
                      </div>
                </div>
                {% endfor %}
          {% endif %}
          {% if add_worker %}
          {% else %}
          <div class="row border border-primary">
            <a href="{% url 'stock:create_worker' request.user.url %}">add new worker</a>
          </div>
          {% endif %}

      {% else %}
      <p>not login</p>
      {% endif %}
</div>
{% endblock %}
