{% extends 'stock/layout/layout.html' %}

{% block content %}
{% load static %}
<div id="container">

      {% if user.is_authenticated %}
      <h1>list of worker</h1>
          {% if workers %}
  <div class="row mb-2 border border-secondary">
        <div class="col-12 col-md-2">
            <h4>username</h4>
        </div>
        <div class="col-12 col-md-6">
          <h4>supervisor</h4>
        </div>
        <div class="col-12 col-md-2">
          <h4>access_level<h4>
        </div>
        <div class="col-12 col-md-2">
          <h4>edit<h4>
        </div>

  </div>
                {% for worker in workers %}
                <div class="row border border-secondary">
                      <div class="col-12 col-md-2">
                          <h4>{{worker.username}}</h4>
                      </div>
                      <div class="col-12 col-md-6">
                        <h4>{{worker.supervisor}}</h4>
                      </div>
                      <div class="col-12 col-md-2">
                        <h4>
                          {% ifequal worker.access_level 1 %}
                            admin
                          {% endifequal %}
                          {% ifequal worker.access_level 10 %}
                            super worker
                          {% endifequal %}
                          {% ifequal worker.access_level 99 %}
                            worker
                          {% endifequal %}</h4>
                      </div>
                      <div class="col-12 col-md-2">
                          <a class="btn btn-success" href="{% url 'stock:edit_worker' request.user.url worker.id %}">edit</a>
                      </div>
                </div>
                {% endfor %}
          {% endif %}
          {% if add_worker %}
          {% else %}
          <div class="row border border-primary">
            <a href="{% url 'stock:create_worker' request.user.url %}">
              <button type="button" class="btn btn-success">add new worker</button>
              </a>
          </div>
          {% endif %}

      {% else %}
      <p>not login</p>
      {% endif %}
</div>
{% endblock %}
