{% extends 'stock/layout/layout.html' %}
{% block content %}
{% if message %}
  <div class="row alert ">
    <div class="col-12 text-center">
      <h3><h4>{{message}}</h4></h3>
    </div>

  </div>
{% endif %}
<div class="row">
  <div class="col-12 text-center alert alert-primary mt-2">
      <h3>Top up List</h3>
  </div>
</div>
{% if topups %}
<div class="row bg-info ">
    <div class="col-4">
        <p>date</p>
    </div>
    <div class="col-3">
      <p>name</p>
    </div>
    <div class="col-2">
      <p>volume</p>
    </div>
    <div class="col-auto">
      <p>edit</p>
    </div>
</div>
{% for topup in topups %}
<div class="row border">
    <div class="col-4">
        <p>{{topup.create_time}}</p>
    </div>
    <div class="col-3">
        <p>{{topup.item.name}}</p>
    </div>
    <div class="col-2">
        <p>{{topup.volume}}</p>
    </div>
    <div class="col-auto">
        <button class="btn btn-primary" type="button" name="button">Edit</button>
    </div>
</div>

{% endfor %}
{% endif %}
<div class="row">
  <div class="col-3 text-right">
    <a class="btn btn-success" href="{% url 'stock:topup_item' request.session.url %}">Add Topup</a>
  </div>
</div>
{% endblock content %}
